@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'roboto';
}

body {
    background-color: #F4F4F4;
}

a {
    text-decoration: none;
    color: #2C3E50;
}  

/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px;
  color: #F4F4F4;
  z-index: 1000;
  margin-top: 25px;
}

.nav-links {
  display: flex;
  align-items: center;
  color: #F4F4F4;
}

.nav-links li a{
  padding: 8px 15px;
  margin-right: 30px;
}

.nav-links li a:hover {
  color: #101010;
  background-color: #FF6F61;
  border-radius: 30px;
  text-decoration: none;
}

.active {
  background-color: #FF6F61;
  color: #101010;
  padding: 8px 15px;
  border-radius: 30px;
}

.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  display: none;
}



/* Mobile Device */
@media only screen and (max-width:850px) {
  
  .menu-btn {
      display: block;
  }

  .navbar {
      padding: 0;
      margin: 0;
  }

  .logo {
      position: absolute;
      top: 30px;
      left: 30px;
      color: #fff;
  }

  .nav-links {
      flex-direction: column;
      width: 100%;
      height: 100vh;
      justify-content: center;
      background: #C7F7EF;
      margin-top: -1000px;
      transition: all 0.4s ease;
  }

  .mobile-menu {
      margin-top: 0px;
      border-bottom-right-radius: 30%;
  }

  .nav-links li {
      margin: 30px auto;
  }
}

/* Banner */
.banner {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #F4F4F4;
}

.text-center {
  padding: 0 200px;
}


@media (max-width: 900px) {
  .banner {
      display: none;
  }

  .log-in {
      position: absolute;
      top: 30px;
      right: 25px;
      text-decoration: underline;
  }
  
  .logo {
      position: absolute;
      top: 30px;
      left: 25px;
  }

  .log-in {
      position: absolute;
      top: 45px;
      right: 25px;
      text-decoration: underline;
  }

}



/* Newsletter Form */
.wrapper{
    width: 330px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 70px;

  }
  h1{
    font-size: 2rem;
    color: #07001f;
  }
  p{
    margin-bottom: 1.7rem;
  }
  form input{
    width: 85%;
    outline: none;
    border: none;
    background: #dfe9f5;
    padding: 12px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .recover{
    text-align: right;
    font-size: 0.8rem;
    margin: 0.2rem 1.7rem 0 0;
  }
  .recover a{
    text-decoration: none;
    color: #07001f;
  }
  button{
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 85%;
    background: #FF6F61;
    color: #fff;
    cursor: pointer;
  }
  button:hover{
    transition: 0.5s;
    background: #1ABC9C;
  }
  .or{
    font-size: 0.8rem;
    margin-top: 1.5rem;
  }
  .icons i{
    color: #07001f;
    padding: 00.8rem 1.5rem;
    border-radius: 10px;
    margin-left: .9rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
  }
  .icons i:hover{
    color: #fff !important;
    background: #07001f;
    transition: 1s;
  }
  .icons i:first-child{
    color: green;
  }
  .icons i:last-child{
    color: blue;
  }
  .not-member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
  }
  .not-member a{
    color: tomato;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }

/* What willyou get */
  .container {
    padding: 20px;
    background: #C7F7EF;
    margin: 15px;
  }

  .container h2 {
    padding-bottom: 15px;
    padding-top: 10px;
    color: #2C3E50;
    display: flex;
    justify-content: center;
  }

  .container p {
    color: #333333;
    display: flex;
    text-align: center;
    font-size: 20px;
  }

/* Cards */
.title {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 85px;
  font-size: 32px;
}

.title-2 {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 30px;
  font-size: 32px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 325px;
  background-color: #fff;

  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
  text-decoration: underline;
}

.card-content p {
  color: #333333;
  line-height: 1.3;
}

.read-more {
  position: absolute;
  right: 48px;
  text-decoration: underline;
}

/* Footer */
.footerContainer {
  width: 100%;
  padding: 8px 30px 10px;
  margin-top: 65px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: #FF6F61;
  margin: 10px;
  border-radius: 50%;

}

.socialIcons a i {
  font-size: 2rem;
  color: #fff;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: #1ABC9C;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
}

.footerNav ul li a {
  color: #333333;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: #333333;
}

/* Mobile Device */
@media (max-width:700px) {
  .footerNav ul {
      flex-direction: column;
  }

  .footerNav ul li {
      width: 100%;
      text-align: center;
      margin: 10px;
  }
}

.menu-btn {
  height: 30px;
  width: 32px;
}